<!-- 
  The simple ngFor way of rendering dynamic columns: 
<p-table [value]="carData">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of carCols">{{ col.header }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td *ngFor="let col of carCols">{{ car[col.field] }}</td>
    </tr>
  </ng-template>
</p-table>
-->

<!-- 
  More advanced way to render dynamic columns, by binding the carCols array 
  to the [columns] property
-->
<div class="card">
  <p-table
    styleClass="p-datatable-lg p-datatable-striped"
    [scrollable]="true"
    scrollHeight="calc(80vh - 195px - 32px)"
    [columns]="customerCols"
    [value]="customers"
  >
    <!-- 
    Within the 'header' template, Columns is $implicit. 
    Thus, let-xyz will assign columns to xyz
  -->
    <ng-template pTemplate="header" let-xyz>
      <tr>
        <th *ngFor="let col of xyz">{{col.header}}</th>
      </tr>
    </ng-template>
    <!-- 
    Within the 'body' template, Rowdata is $implicit. 
    Thus, let-car will assign the current Rowdata to car.
    We can also use the let operator to assign custom data to a variable,
    as we do here with columns being assigned to derp.
  -->
    <ng-template pTemplate="body" let-customer let-derp="columns">
      <tr>
        <td *ngFor="let col of derp">
          {{customer | customerTableExtractor: col.field: col.subfield}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
