<hello helloProp="{{ parentNameProp }}"></hello>
<!-- The line above is equivalent to the commented out line below  -->
<!-- <hello [helloProp]="parentNameProp"></hello> -->
<input-component [childInputProp]="parentProp"></input-component>
<output-component (childOutputEvent)="alertMessage($event)"></output-component>
<input-output-component
  [ioInput]="someParentString"
  (ioEventEmitter)="setParentString($event)"
></input-output-component>

<template-test></template-test>

<p>{{ someParentString }}</p>
